.chat-btn {
    position: fixed;
    right: 14px;
    bottom: 30px;
    cursor: pointer;
    z-index:  9999;
}

.chat-btn .close {
    display: none
}

.chat-btn i {
    transition: all 0.9s ease
}

#check:checked~.chat-btn i {
    display: block;
    pointer-events: auto;
    transform: rotate(180deg)
}

#check:checked~.chat-btn .comment {
    display: none
}

.chat-btn i {
    font-size: 22px;
    color: #fff !important
}

.chat-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #2EBFA5;
    color: #fff;
    font-size: 22px;
    border: none
}

#btnStart {
    background-image: linear-gradient(to left, #018E43, #01B756);
    border: #01B756;
}

#btnSendmessage {
    background-image: linear-gradient(to left, #018E43, #01B756);
    border: #01B756;
}


#btnStart:hover {
    background: #01B756;
  }

  #btnSendmessage:hover {
    background: #01B756;
  }

.wrapper {
    position: fixed;
    right: 20px;
    bottom: 100px;
    width: 300px;
    border-radius: 5px;
    /*opacity: 0;*/
    display: none !important;
    transition: all 0.4s;
    z-index:  999;
}

#check:checked~.wrapper {
    /*opacity: 1*/
    display: table-column !important;
}

.header {
    padding: 13px;
    background-image: linear-gradient(to right, #F6CCA2, #F2B87D);
    border-radius: 5px 5px 0px 0px;
    margin-bottom: 10px;
    color: #fff
}

.chat-form {
    padding: 15px
}

.chat-form input,
textarea,
button {
    margin-bottom: 10px
}

.chat-form textarea {
    resize: none
}

.form-control:focus,
.btn:focus {
    box-shadow: none
}


#check {
    display: none !important
}

#chatLog {
    text-align: left;
    margin: 0 auto;
    padding: 10px;
    height: 300px;
    width: 100%;
    overflow: auto;
}